#background {
    background-color: var(--color-dark);
    background: linear-gradient(var(--color-dark) 10%, #1c206b);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

button {
    position: absolute;
    z-index: 20;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-text-container {
    position: relative;
    margin-top: 42vh;
    color: var(--color-light-text);
}

.hero-text {
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translate(-50%);
    font-size: 1rem;
}

.hero-logo {
    width: 20em;
    top: -12vh;
    animation: heroLogo 1.1s 1;
}

.bli,
.en,
.familj {
    position: absolute;
    font-size: 1.6rem;
}

.bli {
    left: 30%;
    top: -38%;
    font-size: 1.6rem;
    transform: rotate(1deg);
    animation: fromTop 1.1s 1;
}

.en {
    margin-left: 0.4rem;
    animation: fromTop 0.9s 1;
}

.familj {
    left: 50%;
    bottom: -25%;
    font-size: 1.8em;
    animation: fromRight 1.5s 1;
}

@keyframes fromTop {
    0% {
        transform: translateY(-5em) rotateX(90deg);
    }
}

@keyframes fromRight {
    0% {
        transform: translateX(15em) rotateY(90deg);
    }

    50% {
        transform: translateX(15em) rotateY(90deg);
    }
}

@keyframes heroLogo {
    0% {
        transform: translateY(2rem) scaleY(0);
    }

    60% {
        transform: translateY(2rem) scaleY(0);
    }
}

@keyframes header {}

.hero-background {
    position: relative;
    width: 80vw;
    max-width: 25rem;
    margin: auto;
}

.hero-computer {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%);
    width: 100%;
}

.hero-computer-shine {
    position: absolute;
    left: 50%;
    top: 1.3rem;
    transform: translate(-50%);
    width: 1800%;
    height: 300vh;
    max-height: 160rem;
}

.hero-man-and-son {
    position: absolute;
    left: 50%;
    top: 3vh;
    transform: translate(-50%);
    width: 75%;
}

.big-text {
    padding-top: 0;
    font-size: 4em;
}

.big-text-container {
    margin-bottom: 4rem;
}

.FAQ-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    gap: 0em 1em;
}

.FAQ {
    margin-bottom: 1em;
}

.FAQ p {
    padding: 0;
}

.FAQ-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-dark);
    color: var(--color-light-text);
    padding: 1em;
    gap: 1rem;
    border-radius: var(--border-radius-medium);
}

.FAQ-question:hover {
    cursor: pointer;
}

.FAQ-question p {
    font-size: 1rem;
}

.expand-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    padding: 0.4em;
    background-color: var(--color-accent);
    border-radius: 2em;
}


.expand-arrow img {
    width: 1.2em;
    transition: transform 0.5s;
}

#question1:checked+.FAQ>.FAQ-question>.expand-arrow>img,
#question2:checked+.FAQ>.FAQ-question>.expand-arrow>img,
#question3:checked+.FAQ>.FAQ-question>.expand-arrow>img {
    transform: rotateX(-180deg);
}

.arrow-up {
    position: absolute;
    border-left: 0em solid transparent;
    border-right: 0em solid transparent;
    top: 0em;
    left: 10%;
    transform: translate(-50%);
    border-bottom: 0em solid;
    color: var(--color-light);
    width: 0;
    height: 0;
    transition: 0.5s;
}



.FAQ-answer {
    position: relative;
    color: var(--color-light);
    background-color: var(--color-light);
    margin-top: 1em;
    padding: 0 1em;
    border-radius: var(--border-radius-medium);
    transition: 0.5s, padding 0.8s 0.1s, color 0.2s;

    p {
        font-size: 0;
        transition: font-size 0.3s 0.1s linear;
    }
}

#question1:checked+.FAQ>.FAQ-answer,
#question2:checked+.FAQ>.FAQ-answer,
#question3:checked+.FAQ>.FAQ-answer {
    color: var(--color-dark);
    padding: 1em;
    transition: 0.5s, padding 0.8s, color 0.2s 0.4s;

    p {
        font-size: 1em;
        transition: font-size 0.3s linear;
    }

    .arrow-up {
        border-left: 0.5em solid transparent;
        border-right: 0.5em solid transparent;
        top: -0.4em;
        left: 10%;
        border-bottom: 0.5em solid;
    }
}




.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    gap: 4em;
}

.info-grid-item {
    text-align: center;
}

.info-grid-item img {
    width: 100%;
}


.hallå2 {
    background-color: #1a75ff4d;
    transition: 0.5s;
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    gap: 1em;
    margin-bottom: 3.5em;
}

.center {
    display: flex;
    justify-content: center;
}

.margin-bottom {
    padding-bottom: 6rem;
}

@media (max-width: 465px) {
    .hero-computer-shine {
        top: 4.3vw;
    }

    .hero-man-and-son {
        top: 8vw;
    }
}


@media (max-width: 784px) {
    .hero-text-container {
        margin-top: 38vh;
    }
}

@media (max-width: 378px) {
    .big-text {
        font-size: 3rem;
    }

    .hero-text {
    font-size: 4vw;
}
}