<app-nav></app-nav>

<div [style.opacity]="" id="background"></div>


<header class="hero">
    <div class="hero-text">
        <img src="../../../assets/logos/Natsmart.svg" alt="">
        <h1>Ett tryggare internet för din familj</h1>
    </div>
    <div [style.width]="" class="hero-background">
        <img class="hero-computer" src="../../../assets/images/computer.svg" alt="">
        <img [style.height]="" class="hero-computer-shine" src="../../../assets/images/beam.svg" alt="">
        <img class="hero-man-and-son" src="../../../assets/images/ivan.svg" alt="">
    </div>
</header>

<main [style.backgroundColor]="backgroundColor" [style.color]="color" ngClass="hallå2">
    <section #newSection ngClass="hallå">
        <div ngClass="inner-container">
            <h2>Är din familj säker online?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                Pellentesque
                sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.</p>
        </div>
    </section>

    <section #newSection2 ngClass="hallå">
        <div ngClass="inner-container">
            <h2>Är din familj säker online?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                Pellentesque
                sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis
                tellus.Lorem
                ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                Pellentesque
                sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                Pellentesque
                sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                Pellentesque
                sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.</p>
        </div>
    </section>

    <section ngClass="hallå">
        <div ngClass="inner-container">
            <h2>Är din familj säker online?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                Pellentesque
                sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis
                tellus.Lorem
                ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                Pellentesque
                sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                Pellentesque
                sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                Pellentesque
                sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.</p>
        </div>
    </section>
</main>