<div [style.opacity]="" id="background"></div>


<header ngClass="hero">
    <div ngClass="hero-text">
        <img src="../../../assets/logos/Natsmart.svg" alt="">
        <h1>Ett tryggare internet för din familj</h1>
    </div>
    <div ngClass="hero-background">
        <img ngClass="hero-computer" src="../../../assets/images/computer.svg" alt="">
        <img ngClass="hero-computer-shine" src="../../../assets/images/beam.svg" alt="">
        <img ngClass="hero-man-and-son" src="../../../assets/images/ivan.svg" alt="">
    </div>
</header>

<main [style.backgroundColor]="backgroundColor" [style.color]="color" ngClass="hallå2">
    <section ngClass="text-container-landing">
        <section #newSection>
            <div ngClass="inner-container">
                <h2 ngClass="big-text">Hjälp ditt barn att navigera säkert i en digital värld</h2>
                <p>Barn tillbringar allt mer tid online - för att leka, lära sig, umgås och utforska. Men bakom skärmen
                    finns också risker: från nätmobbning och olämpligt innehåll till kontakt med främmande personer och
                    beroendeframkallande appar.</p>
            </div>
        </section>

        <section>
            <div ngClass="inner-container FAQ-container">
                <input ngClass="dp-none" id="question1" type="checkbox">
                <div ngClass="FAQ">
                    <label ngClass="FAQ-question" for="question1">
                        <p>Vad är Nätsmart?</p>
                        <div class="expand-arrow">
                            <img src="../../../assets/icons/expand-arrow.svg" alt="">
                        </div>
                    </label>
                    <div [style.backgroundColor]="backgroundColorBouble" ngClass="FAQ-answer">
                        <div [style.color]="backgroundColorBouble" ngClass="arrow-up"></div>
                        <p>Nätsmart är en kampanj lanserad av Sveriges regering för att informera vårdnadshavare runt om
                            i landet om barns cybersäkerhet och ger resurser för att utbilda om faror på nätet.</p>
                    </div>
                </div>

                <input ngClass="dp-none" id="question2" type="checkbox">
                <div ngClass="FAQ">
                    <label ngClass="FAQ-question" for="question2">
                        <p>Varför är marknadsföringen så skrämmande?</p>
                        <div class="expand-arrow">
                            <img src="../../../assets/icons/expand-arrow.svg" alt="">
                        </div>
                    </label>
                    <div [style.backgroundColor]="backgroundColorBouble" ngClass="FAQ-answer">
                        <div [style.color]="backgroundColorBouble" ngClass="arrow-up"></div>
                        <p>Vår marknadsföring kan upplevas skrämmande men målet är ej att oroa, det är att få Sveriges
                            befolkning att vakna till gällande barns cybersäkerhet och vi åstadkommer detta genom dessa
                            djärva strategier.</p>
                    </div>
                </div>

                <input ngClass="dp-none" id="question3" type="checkbox">
                <div ngClass="FAQ">
                    <label ngClass="FAQ-question" for="question3">
                        <p>Är jag som förälder problemet?</p>
                        <div class="expand-arrow">
                            <img src="../../../assets/icons/expand-arrow.svg" alt="">
                        </div>
                    </label>
                    <div [style.backgroundColor]="backgroundColorBouble" ngClass="FAQ-answer">
                        <div [style.color]="backgroundColorBouble" ngClass="arrow-up"></div>
                        <p>Nej, tvärtom. Du är lösningen, för endast du kan skydda ditt barn mot digitala övergrepp.
                            Genom att ta del av information vi ger ut så gör du stor skillnad för barns säkerhet online.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section #newSection2>
            <div ngClass="inner-container">
                <h2>Vi hjälper dig att förstå, förebygga och skydda</h2>
                <p>Vi vet att det inte handlar om att ta mobilen ifrån barnet. Det handlar om att vara närvarande,
                    förstå
                    riskerna och våga prata om det som känns svårt. Därför har vi samlat pålitlig kunskap och praktiska
                    verktyg som gör det enklare för dig att</p>
                <div ngClass="info-grid">
                    <div ngClass="info-grid-item">
                        <img src="../../../assets/images/Frame24.png" alt="">
                        <p>Få koll på hur olika appar fungerar - och vilka risker som finns</p>
                    </div>
                    <div ngClass="info-grid-item">
                        <img src="../../../assets/images/Frame24.png" alt="">
                        <p>Lära dig upptäcka varningstecken - innan något händer</p>
                    </div>
                    <div ngClass="info-grid-item">
                        <img src="../../../assets/images/Frame24.png" alt="">
                        <p>Prata med ditt barn på ett sätt som bygger förtroende</p>
                    </div>
                    <div ngClass="info-grid-item">
                        <img src="../../../assets/images/Frame24.png" alt="">
                        <p>Sätta gränser som fungerar - utan att skapa konflikt</p>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section>
        <div ngClass="inner-container">
            <div ngClass="courses-grid">
                <ng-container *ngFor="let course of coursesData; index as i">
                    <div *ngIf="i < 3">
                        <app-course-card [courseId]="course.id"></app-course-card>
                    </div>
                </ng-container>
            </div>
            <div ngClass="center">
                <a ngClass="button" routerLink="/snabbkurser">Se alla snabbkurser</a>
            </div>
        </div>
    </section>
</main>