#background {
    background-color: var(--color-dark);
    background: linear-gradient(var(--color-dark) 10%, #1c206b);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

button {
    position: absolute;
    z-index: 20;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-text {
    padding-top: 32vh;
    text-align: center;
    color: var(--color-light-text);
}

.hero-text h1 {
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0.2rem 0 1rem;
}

@keyframes header {}

.hero-background {
    position: relative;
    width: 80vw;
    max-width: 23rem;
    margin: auto;
}

.hero-computer {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%);
    width: 100%;
}

.hero-computer-shine {
    position: absolute;
    left: 50%;
    top: 1.3rem;
    transform: translate(-50%);
    width: 1800%;
    height: 300vh;
    max-height: 160rem;
}

.hero-man-and-son {
    position: absolute;
    left: 50%;
    top: 3vh;
    transform: translate(-50%);
    width: 75%;
}

.big-text {
    padding-top: 0;
    font-size: 4em;
}

.FAQ-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    gap: 0em 1em;
}

.FAQ {
    margin-bottom: 1em;
}

.FAQ p {
    padding: 0;
}

.FAQ-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-dark);
    color: var(--color-light-text);
    padding: 1em;
    border-radius: var(--border-radius-medium);
}

.expand-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    padding: 0.4em;
    background-color: var(--color-accent);
    border-radius: 2em;
    transition: transform 0.5s;
}


.expand-arrow img {
    width: 1.2em;
}

#question1:checked+.FAQ>.FAQ-question>.expand-arrow,
#question2:checked+.FAQ>.FAQ-question>.expand-arrow,
#question3:checked+.FAQ>.FAQ-question>.expand-arrow {
    transform: rotate(180deg);
}

.arrow-up {
    position: absolute;
    border-left: 0em solid transparent;
    border-right: 0em solid transparent;
    top: 0em;
    left: 10%;
    transform: translate(-50%);
    border-bottom: 0em solid var(--color-light);
    width: 0;
    height: 0;
    transition: 0.5s;
}



.FAQ-answer {
    position: relative;
    color: var(--color-light);
    background-color: var(--color-light);
    margin-top: 1em;
    padding: 0 1em;
    border-radius: var(--border-radius-medium);
    transition: padding 0.8s, color 0.2s;

    p {
        font-size: 0;
        transition: font-size 0.3s 0.2s;
    }
}

#question1:checked+.FAQ>.FAQ-answer,
#question2:checked+.FAQ>.FAQ-answer,
#question3:checked+.FAQ>.FAQ-answer {
    color: var(--color-dark);
    padding: 1em;
    transition: padding 0.8s, color 0.2s 0.4s;

    p {
        font-size: 1em;
        transition: font-size 0.3s ;
    }

    .arrow-up {
        border-left: 0.5em solid transparent;
        border-right: 0.5em solid transparent;
        top: -0.4em;
        left: 10%;
        border-bottom: 0.5em solid var(--color-light);
    }
}




.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    gap: 4rem;
}

.info-grid-item {
    text-align: center;
}

.info-grid-item img {
    width: 100%;
}


.hallå2 {
    background-color: #1a75ff4d;
    transition: 0.5s;
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    gap: rem;
}

@media (max-width: 465px) {
    .hero-computer-shine {
        top: 4.3vw;
    }

    .hero-man-and-son {
        top: 8vw;
    }
}