footer {
    background-color: var(--color-accent);
    color: var(--color-light-text);
}

.footer-top {
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    margin-top: 2rem;
    width: 18rem;
}

.footer-slogan {
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    width: 18rem;
}

.footer-links {
    display: flex;
    gap: 2em;
    margin-bottom: 2rem;
}

.footer-link {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.footer-bottom {
    background-color: var(--color-dark);
}

.footer-bottom p {
    padding: 2rem 0;
}

.footer-bottom img {    
    width: 2rem;
}

.footer-bottom-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 600px) {
    .footer-links {
        flex-direction: column;
    }
}

@media (max-width: 784px) {
    .footer-bottom  {
        padding-bottom: 5rem;
    }
}