<footer>
    <section ngClass="large-inner-container footer-top">
        <div>
            <img ngClass="footer-logo" src="../../../assets/logos/Natsmart.svg" alt="">
            <h2 ngClass="footer-slogan">Ett tryggare internet för din familj</h2>

            <div ngClass="footer-links">
                <a routerLink="/" ngClass="footer-link">
                    <img ngClass="nav-mobile-icon" src="../../../assets/icons/home-smile.svg" alt="">
                    <p>Hem</p>
                </a>
                <a routerLink="/snabbkurser" ngClass="footer-link">
                    <img ngClass="nav-mobile-icon" src="../../../assets/icons/pages-fill.svg" alt="">
                    <p>Snabbkurser</p>
                </a>
                <a routerLink="/artiklar" ngClass="footer-link">
                    <img ngClass="nav-mobile-icon" src="../../../assets/icons/team-fill.svg" alt="">
                    <p>Om oss</p>
                </a>
                <a routerLink="/verktyg" ngClass="footer-link">
                    <img ngClass="nav-mobile-icon" src="../../../assets/icons/mobile-download-fill.svg" alt="">
                    <p>Verktyg</p>
                </a>
            </div>
        </div>
    </section>
    <section ngClass="footer-bottom">
        <div ngClass="large-inner-container">
            <p>[Myndighet]</p>
        </div>
    </section>
</footer>