<header>
    <div *ngIf="id && coursesData" [style.backgroundColor]="coursesData[id].backgroundColor" [ngClass]="{'header': true, 'light-text': coursesData[id].foregroundLight}">
        <div *ngIf="coursesData[id].imageUrl"
                [style.backgroundImage]="'url(../../../assets/images/'+coursesData[id].imageUrl+')'"
                ngClass=""ngClass="header-container inner-container background-image">
            <div ngClass="title">
                <h1 [style.backgroundColor]="coursesData[id].backgroundColor">{{ coursesData[id].name }}</h1>
                <div ngClass="time">
                    <img *ngIf="!coursesData[id].foregroundLight" ngClass="time-icon" src="../../../assets/icons/clock.svg" alt="">
                    <img *ngIf="coursesData[id].foregroundLight" ngClass="time-icon" src="../../../assets/icons/clockLight.svg" alt="">
                    <p>{{ coursesData[id].time }} min</p>
                </div>
            </div>
            <div *ngIf="coursesData[id].imageUrl"
                [style.backgroundImage]="'url(../../../assets/images/'+coursesData[id].imageUrl+')'"
                ngClass="background-image"></div>
        </div>
    </div>
</header>
<main>
    <section *ngIf="id && coursesData" ngClass="inner-container text-container">
        <div *ngFor="let contentId of coursesData[id].content; index as i">
            <h2 *ngIf="coursesData[id].content[i].title != null">{{ coursesData[id].content[i].title }}</h2>
            <h3 *ngIf="coursesData[id].content[i].subtitle != null">{{ coursesData[id].content[i].subtitle }}</h3>
            <p *ngIf="coursesData[id].content[i].text != null">{{ coursesData[id].content[i].text }}</p>
            <div ngClass="image-with-text" *ngIf="coursesData[id].content[i].imageWithText != null">
                <img src="../../../assets/images/{{ coursesData[id].content[i].imageWithText.image }}" alt="">
                <p>{{ coursesData[id].content[i].imageWithText.text }}</p>
            </div>
        </div>
    </section>

    <section ngClass="inner-container">
        <app-quiz [id]="id"></app-quiz>
    </section>
</main>