<header>
    <div ngClass="header">
        <div ngClass="inner-container">
            <h1>{{ name }}</h1>
            <div *ngIf="id && coursesData" ngClass="time">
                <img ngClass="time-icon" src="../../../assets/icons/clock.svg" alt="">
                <p>{{ coursesData[id].time }} min</p>
            </div>
        </div>
    </div>
</header>
<main>
    <section *ngIf="id && coursesData" ngClass="inner-container text-container">
        <div *ngFor="let contentId of coursesData[id].content; index as i">
            <h2 *ngIf="coursesData[id].content[i].title != null">{{ coursesData[id].content[i].title }}</h2>
            <h3 *ngIf="coursesData[id].content[i].subtitle != null">{{ coursesData[id].content[i].subtitle }}</h3>
            <p *ngIf="coursesData[id].content[i].text != null">{{ coursesData[id].content[i].text }}</p>
        </div>
    </section>

    <section ngClass="inner-container">
        <app-quiz [id]="id"></app-quiz>
    </section>
</main>