header {
    overflow-x: hidden;
}

.header {
    background-color: #E8E0DE;
    width: 100%;
    margin-left: -50%;
    padding: 5rem 50% 0rem 50%;
    border-radius: 0 0 50% 50%;
    overflow: hidden;
}

.light-text {
    color: var(--color-light-text);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.title {
    padding-top: 10rem;
    padding-bottom: 4rem;
}

.background-image {
    background-position: bottom right 6rem;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    display: inline;
    font-size: 3rem;
    padding: 0.2rem 0.8rem;
    margin-left: -0.8rem;
    border-radius: var(--border-radius-small);
}

.time {
    margin-top: 0.6rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.time-icon {
    width: 1.5rem;
}

@media (max-width: 980px) {

    h1 {
        font-size: 2rem;
    }

    .header {
        padding: 0rem 50% 0rem 50%;
    }


}

@media (max-width: 748px) {
    .background-image {
        background-position: top 0rem center;
        background-size: 15rem;
        background-repeat: no-repeat;
    }

    h1 {
        font-size: 2rem;
    }

    .title {
        padding-top: 15rem;
        padding-bottom: 4rem;
    }

    .header {
        padding: 0rem 50% 0rem 50%;
    }

}