<a *ngIf="courseId && coursesData"
    routerLink="/snabbkurser/{{ coursesData[courseId].name }}/{{ coursesData[courseId].id }}">
    <article ngClass="course-card">
        <img [style.backgroundColor]="coursesData[courseId].backgroundColor" ngClass="course-card-image"
            src="../../../assets/images/{{coursesData[courseId].imageUrl}}" alt="">
        <div ngClass="course-card-inner-container">
            <div ngClass="course-card-info">
                <p>Snabbkurs</p>
                <div ngClass="time">
                    <img ngClass="time-icon" src="../../../assets/icons/clock.svg" alt="">
                    <p>{{ coursesData[courseId].time }} min</p>
                </div>
            </div>
            <h4 ngClass="course-name">{{ coursesData[courseId].name }}</h4>
            <p ngClass="course-link">Till kursen</p>
        </div>
    </article>
</a>