.course-card {
    border-radius: var(--border-radius-medium);
    background-color: var(--color-light-text);
    transition: transform 0.3s, box-shadow 0.4s;
        animation: scaleUp 0.5s 1;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.8) translateY(6rem);
    }
    
    100% {
        transform: scale(1) translateY(0rem);
    }
}

.course-card:hover {
    transform: scale(1.03) translateY(-0.4rem);
    box-shadow: 0 1.5rem 1.5rem -1rem #6e8bb77e;
}

.course-card-image {
    border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
    height: 14rem;
    width: 100%;
    background-color: #E8E0DE;
}

.course-card-inner-container {
    padding: 1em;
    padding-top: 0.5em;
}

.course-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.time-icon {
    width: 1.5em;
}

.course-name {
    margin-top: 0.2em;
    margin-bottom: 0em;
    font-size: 1.3em;
}

.course-link {
    margin-top: 1.5em;
    display: inline-block;
    background-color: var(--color-light);
    padding: 0.6rem;
    border-radius: var(--border-radius-small);
    font-weight: 600;
    transition: transform 0.2s;
}

.course-link:hover {
    transform: scale(1.04);
}