<div ngClass="quiz-container" *ngIf="quizId && coursesData != undefined && coursesData[quizId].quiz != undefined">
    <div ngClass="quiz-inner-container" *ngIf="quizSection < coursesData[quizId].quiz.length">
        <p>Fråga {{ quizSection + 1 }}/{{coursesData[quizId].quiz.length}}</p>
        <h3>
            {{ coursesData[quizId].quiz[quizSection].quizQuestion }}
        </h3>
        <div ngClass="quiz-options">
            <button (click)="submitAnswer(quiz.quizId, quiz.correctAnswer, correctAnswerSection)"
                *ngFor="let quiz of coursesData[quizId].quiz[quizSection].quizOptions" id="{{quiz.quizId}}"
                [ngClass]="{'label-checkbox': true, 'label-correct': submittedAnswer == quiz.quizId && quiz.correctAnswer, 'label-incorrect': submittedAnswer == quiz.quizId && !quiz.correctAnswer}">

                {{ quiz.option }}

                <div ngClass="checkbox">
                    <img *ngIf=" submittedAnswer == quiz.quizId && isAnswerCorrect" ngClass="checkbox-icon"
                        src="../../../assets/icons/check-green.svg" alt="">
                    <img *ngIf=" submittedAnswer == quiz.quizId && !isAnswerCorrect" ngClass="checkbox-icon"
                        src="../../../assets/icons/cross-red.svg" alt="">
                </div>
            </button>
        </div>
        <div #correctAnswerSection [ngClass]="{'correct-answer': true, 'correct-answer-show': quizLocked}">
            <h3>Rätt svar</h3>
            <p>{{ coursesData[quizId].quiz[quizSection].quizAnswer }}</p>
        </div>
        <div ngClass="center">
            <button ngClass="button" (click)="nextQuestion()" *ngIf="quizLocked">
                Nästa fråga
            </button>
        </div>
    </div>

    <div *ngIf="quizSection >= coursesData[quizId].quiz.length">
        <h3>Quiz klart</h3>
        {{ correctAnswers + '/' + coursesData[quizId].quiz.length }}
    </div>
</div>