.quiz {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    gap: 0.5em;
    max-width: 60em;
}

.quiz-container {
    display: flex;
    max-width: 50em;
    margin: 0 auto;
    margin-bottom: 12rem;
        padding-top: 8rem;
    margin-top: -5rem;
}

.quiz-inner-container {
    width: 100%;
}

.quiz-inner-container h3 {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.quiz-options {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.label-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: var(--border-radius-medium);
    background-color: var(--color-light-text);
    transition: 0.3s;
}

.label-correct {
    color: var(--color-light-text);
    background-color: #02794D;
}

.label-incorrect {
    color: var(--color-light-text);
    background-color: #BF284D;
}


.label-checkbox p {
    font-weight: 600;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.label-checkbox:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.label-checkbox:active {
    cursor: pointer;
    transition: 0.15s;
    transform: scale(1);
}

.checkbox {
    width: 1rem;
    height: 1rem;
    background: var(--color-light-text);
    border-radius: var(--border-radius-small);
    padding: 0rem;
    border: solid var(--color-dark) 0.15em;
    display: flex;
    transition: 0.3s, padding 0s, border 0s;
}

.checkbox-icon {
    width: 100%;
    scale: 1;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    animation: showIcon 0.3s;
}

.correct-answer {
    display: none;
    padding-top: 8rem;
    margin-top: -7em;
    margin-bottom: 3.5em;
}

.correct-answer-show {
    display: block;
}


.happy-man-container {
    position: relative;
    min-width: 12rem;
    height: 14rem;

    overflow: hidden;
    border-radius: 0 0 9rem 9rem;
}

.happy-man-background {
    width: 12rem;
    height: 12rem;
    background-color: #ACC5EA;
    border-radius: 9rem;
    position: absolute;
    bottom: 0;
}

.happy-man {
    margin-top: 1rem;
    position: relative;
    width: 12rem;
    animation: ShowMan 0.8s 1, bounce 3.6s 0.8s infinite;
}

.quiz-finish {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


@keyframes ShowMan {
    0% {
        transform: translateY(50%) scale(0.8) rotate(8deg);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(2%) scaleY(0.97);
    }

    70% {
        transform: translateY(0);
    }
}

.center {
    display: flex;
    justify-content: center;
}

@keyframes showIcon {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.label-incorrect,
.label-correct {
    .checkbox {
        padding: 0.1em;
        border: none;
    }
}