<header>
    <div ngClass="header">
        <div ngClass="inner-container  text-container">
            <h1>Skydda din familj online</h1>
            <p>Med rätt verktyg blir det enklare att skapa en trygg nätvardag för hela familjen. Nätsmart guidar dig
                till appar och verktyg som hjälper dig att hålla koll, sätta gränser och prata om vad
                som händer online </p>
        </div>
    </div>
</header>

<main>
    <section>
        <div ngClass="inner-container app-grid-container">
            <div ngClass="app-phone-container">
                <img ngClass="phone phone-back" src="../../../assets/images/phone2.png"
                    alt="Bild av Nätsmarts mobil-app">
                <img ngClass="phone phone-front" src="../../../assets/images/phone1.png"
                    alt="Bild av Nätsmarts mobil-app">
            </div>
            <div ngClass="app-content">
                <h2>Upptäck hur kul det kan vara att bli nätsmart!</h2>
                <p>I vår app gör vi det enkelt och roligt för barn och föräldrar att lära sig om digital säkerhet
                    tillsammans. Genom spel, utmaningar och interaktiva uppdrag lär ni er hur man skyddar sig online.
                </p>
                <div ngClass="center">
                    <a target="_blank"
                        href="https://www.figma.com/proto/OLTYfjFSD67qTQECWXvwwh/Untitled?node-id=154-303&p=f&t=aCKLzZdP6VEKSivM-0&scaling=scale-down&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=154%3A303&show-proto-sidebar=1"
                        ngClass="button">Ladda ner nu!</a>
                </div>
            </div>
        </div>
    </section>

    <section ngClass="inner-container margin-bottom">
        <h2 ngClass="h2">Vi rekommenderar också</h2>
        <div ngClass="recomendations-grid">
            <article ngClass="recomendation">
                <div ngClass="recomendation-top bark">
                    <img ngClass="logo" src="../../../assets/images/bark.svg" alt="">
                    <div>
                        <h4>Bark</h4>
                    </div>
                </div>
                <div ngClass="recomendation-bottom">
                    <p>Bark är ett övervakningsverktyg som analyserar barnens meddelanden, e-post och sociala medier för
                        att
                        upptäcka tecken på riskbeteenden som mobbning eller grooming. Föräldrar får varsamma varningar
                        utan
                        att behöva läsa allt barnet skriver, vilket bevarar en viss integritet.</p>

                    <a ngClass="recomendation-link" target="_blank" href="https://www.bark.us/?srsltid=AfmBOoqMldgxv_ZahSsjK1ROCporpOMtwQKr3EazOAKFBF9GyUOfV8GQ&irclickid=2BjQivw2HxycU-EQyh2LbShYUksQg%3A1blQbdyw0&irgwc=1&ref&rt">Läs mer om Bark</a>
                </div>
            </article>


            <article ngClass="recomendation">
                <div ngClass="recomendation-top qustudio">
                    <img ngClass="logo" src="../../../assets/images/qustudio.svg" alt="">
                    <div>
                        <h4>Qustudio</h4>
                    </div>
                </div>
                <div ngClass="recomendation-bottom">
                    <p>Qustudio är en kraftfull föräldrakontrollapp som erbjuder webbfiltrering, appblockering och
                        skärmtidsgränser. Den
                        ger detaljerade rapporter om barnets digitala aktivitet och fungerar på flera plattformar,
                        inklusive
                        Android, iOS, Windows och Mac.</p>

                    <a ngClass="recomendation-link" target="_blank" href="https://www.qustodio.com/en/?media=&irclickid=0ZjTF4z1LxycT6HTSnRCMTJoUksQg%3AyLlQbdyw0&irgwc=1&utm_source=impact&clickid=0ZjTF4z1LxycT6HTSnRCMTJoUksQg%3AyLlQbdyw0&utm_medium=1234031&utm_campaign=CITYADS%20MEDIA%20POLSKA%E2%80%8A%20z%20o.o.&utm_content=Online%20Tracking%20Link">Läs mer om Qustudio</a>
                </div>
            </article>


            <article ngClass="recomendation">
                <div ngClass="recomendation-top family-link">
                    <img ngClass="logo" src="../../../assets/images/google-fl.svg" alt="">
                    <div>
                        <h4>Google Family Link</h4>
                    </div>
                </div>
                <div ngClass="recomendation-bottom">
                    <p>Google Family link är ett gratisverktyg som hjälper föräldrar att styra barnens skärmtid,
                        appanvändning och webbsurfning på
                        Android- och Chromebook-enheter. Det ger även möjlighet att följa barnets plats i realtid och
                        sätta
                        upp digitala regler.</p>

                    <a ngClass="recomendation-link" target="_blank" href="https://families.google/familylink/">Läs mer om Google Family Link</a>
                </div>
            </article>

            <article ngClass="recomendation">
                <div ngClass="recomendation-top nord-vpn">
                    <img ngClass="logo" src="../../../assets/images/nordvpn.svg" alt="">
                    <div>
                        <h4>NordVPN</h4>
                    </div>
                </div>
                <div ngClass="recomendation-bottom">
                    <p>NordVPN är ett säkert VPN som skyddar hela familjens internetanvändning genom kryptering och
                        blockerar skadliga
                        webbplatser, annonser och trackers. Meshnet-funktionen gör det möjligt att skapa ett privat
                        nätverk
                        mellan familjens enheter.</p>

                    <a ngClass="recomendation-link" target="_blank" href="https://nordvpn.com/sv/">Läs mer om NordVPN</a>
                </div>
            </article>
        </div>
    </section>
</main>