<header>
    <div ngClass="header">
        <div ngClass="inner-container">
            <h1>Skydda din familj online</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                Pellentesque
                sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.</p>
        </div>
    </div>
</header>

<main>
    <section>
        <div ngClass="inner-container app-grid-container">
            <div ngClass="app-phone-container">
                <img ngClass="phone phone-back" src="../../../assets/images/Generic phone mock-up.png" alt="">
                <img ngClass="phone phone-front" src="../../../assets/images/Generic phone mock-up.png" alt="">
            </div>
            <div ngClass="app-content">
                <h2>Upptäck hur kul det kan vara att bli nätsmart!</h2>
                <p>I vår app gör vi det enkelt och roligt för barn och föräldrar att lära sig om digital säkerhet
                    tillsammans. Genom spel, utmaningar och interaktiva uppdrag lär ni er hur man skyddar sig online.
                </p>
                <div ngClass="center">
                    <a href="" ngClass="button">Ladda ner nu!</a>
                </div>
            </div>
        </div>
    </section>

    <section ngClass="inner-container">
        <h2>Vi rekommenderar också</h2>
        <div ngClass="recomendations-grid">
            <article ngClass="recomendation">
                <div ngClass="recomendation-top">
                    <img ngClass="logo" src="" alt="">
                    <div>
                        <h4>Produkttitel</h4>
                        <p>Utgivare</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                    Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.</p>

                <a ngClass="recomendation-link" href="">Besök produktsida</a>
            </article>

            <article ngClass="recomendation">
                <div ngClass="recomendation-top">
                    <img ngClass="logo" src="" alt="">
                    <div>
                        <h4>Produkttitel</h4>
                        <p>Utgivare</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                    Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.</p>

                <a ngClass="recomendation-link" href="">Besök produktsida</a>
            </article>

            <article ngClass="recomendation">
                <div ngClass="recomendation-top">
                    <img ngClass="logo" src="" alt="">
                    <div>
                        <h4>Produkttitel</h4>
                        <p>Utgivare</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                    Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.</p>

                <a ngClass="recomendation-link" href="">Besök produktsida</a>
            </article>

            <article ngClass="recomendation">
                <div ngClass="recomendation-top">
                    <img ngClass="logo" src="" alt="">
                    <div>
                        <h4>Produkttitel</h4>
                        <p>Utgivare</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                    Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.</p>

                <a ngClass="recomendation-link" href="">Besök produktsida</a>
            </article>
        </div>
    </section>
</main>