.navbar {
    background-color: var(--color-dark);
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav-flex {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 1.5em 0em;
}

.nav-logo {
    width: 10rem;
}

.links-flex {
    display: flex;
    align-items: center;
    gap: 2rem;
}

a {
    color: var(--color-light-text);
}


.nav-mobile {
    display: none;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.mobile-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    padding: 1rem 0;
}

.nav-mobile-highlight {
    position: absolute;
    height: 0.2rem;
    width: 25%;
    top: -0.2rem;
    background-color: var(--color-accent);
}

.highlight-pos1 {
    left: 0;
    border-radius: 0em 0.3em 0 0;
}

.highlight-pos2 {
    left: 25%;
    border-radius: 0.3em 0.3em 0 0;
}

.highlight-pos3 {
    left: 50%;
    border-radius: 0.3em 0.3em 0 0;
}

.highlight-pos4 {
    left: 75%;
    border-radius: 0.3em 0.3em 0 0;
}

.nav-mobile-icon {
    width: 1.2rem;
    margin-bottom: 0.3rem;
}

.mobile-link p {
    font-size: 10px;
}

@media (max-width: 848px) {
    .nav-mobile {
        display: flex;
    }

    .nav-desktop {
        display: none;
    }

    .navbar {
        bottom: 0;
    }

    .nav-flex {
        gap: 0rem;
        padding: 0;
    }

    @media (prefers-color-scheme: light) {
        .theme-a.adaptive {
            background-color: var(--color-light);
            color: var(--color-dark);
        }
    }
}

@media (min-width: 480px) {
    .highlight-pos1 {
        left: 0;
        border-radius: 0em 0.3em 0 0;
    }

    .highlight-pos2 {
        left: 25%;
        border-radius: 0.3em 0.3em 0 0;
    }

    .highlight-pos3 {
        left: 50%;
        border-radius: 0.3em 0.3em 0 0;
    }

    .highlight-pos4 {
        left: 75%;
        border-radius: 0.3em 0.3em 0 0;
    }
}