<nav ngClass="navbar">
    <div ngClass="large-inner-container">
        <div ngClass="nav-flex nav-desktop">
            <a routerLink="/"><img class="nav-logo" src="../../../assets/logos/Natsmart.svg" alt="Nätsmart"></a>
            <div ngClass="links-flex">
                <a routerLink="/snabbkurser" class="">Snabbkurser</a>
                <a routerLink="/om oss" class="">Om oss</a>
                <a routerLink="/verktyg" class="">Verktyg</a>
            </div>
        </div>
    </div>

    <div ngClass="nav-flex nav-mobile">
        <div #navHighlight [ngClass]="['nav-mobile-highlight',
  router.isActive('/', true) ? 'highlight-pos1' : '',
  router.isActive('/snabbkurser', false) ? 'highlight-pos2' : '',
  router.isActive('/om oss', false) ? 'highlight-pos3' : '',
  router.isActive('/verktyg', true) ? 'highlight-pos4' : '']"></div>


        <a routerLink="/" ngClass="mobile-link">
            <img ngClass="nav-mobile-icon" src="../../../assets/icons/home-smile.svg" alt="">
            <p>Hem</p>
        </a>
        <a routerLink="/snabbkurser" ngClass="mobile-link">
            <img ngClass="nav-mobile-icon" src="../../../assets/icons/pages-fill.svg" alt="">
            <p>Snabbkurser</p>
        </a>
        <a routerLink="/om oss" ngClass="mobile-link">
            <img ngClass="nav-mobile-icon" src="../../../assets/icons/article-fill.svg" alt="">
            <p>Om oss</p>
        </a>
        <a routerLink="/verktyg" ngClass="mobile-link">
            <img ngClass="nav-mobile-icon" src="../../../assets/icons/mobile-download-fill.svg" alt="">
            <p>Verktyg</p>
        </a>
    </div>
</nav>