header {
   overflow-x: hidden;
}

.header {
    background-color: var(--color-accent);
    color: var(--color-light-text);
    width: 100%;
    margin-left: -50%;
    padding: 8rem 50% 4rem 50%;
    border-radius: 0 0 50% 50%;
}

.logo-in-title {
    height: 3.5rem;
    margin-bottom: -0.9rem;
    margin-left: 0.3rem;
}

.about-us-flex {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about-us-image {
    width: 150%;
    max-width: 60vw;
    height: 18rem;
}

.section-gap {
    margin-top: 3rem;
    margin-bottom: 4em;
}

.center {
    text-align: center;
}

@media (max-width: 784px) { 
    .header {
         padding: 1rem 50% 4rem 50%;
    }
}