<header>
    <div ngClass="header">
        <div ngClass="inner-container text-container">
            <h1>Vad är <img ngClass="logo-in-title" src="../../../assets/logos/Natsmart.svg" alt=""></h1>
            <p>Genom våra snabbkurser, skräddarsydda för just ditt barn och baserade på tusentals noggrant utvalda
                källor,
                kan
                du enkelt hålla dig uppdaterad om vanliga internetrisker och hur du effektivt kan hantera dem.</p>
        </div>
    </div>
</header>

<main ngClass="inner-container">
    <section ngClass="section-gap about-us-flex">
        <img ngClass="about-us-image" src="" alt="">
        <div ngClass="text-container">
            <h2>
                Vi har koll på läget
            </h2>
            <p>Vi erbjuder kurser, verktyg och tips för att minska cyberhot och skapa en tryggare digital framtid. Som
                förälder, vårdnadshavare eller lärare har du en viktig roll i att forma nästa generation och tillsammans
                kan vi göra skillnad.</p>
        </div>
    </section>

    <section ngClass="section-gap text-container center">
            <h2>
                Vad är cybersäkerhet?
            </h2>
            <p>Begreppet cybersäkerhet syftar på att skydda digitala platformar och dess användare. Cybersäkerhet är en
                organisering och samordning av resurser, processer och strukturer som används för att skydda system som
                är beroende av det.</p>
    </section>

    <section ngClass="section-gap about-us-flex">
        <div ngClass="text-container">
            <h2>
                Kunskap som skyddar barnen
            </h2>
            <p>Nätbrottsligheten mot barn har ökat årligen med 20% under de senaste 10 åren. Därför har det blivit allt
                viktigare att öka kunskapen om cybersäkerhet i samhället.</p>
        </div>
        <img ngClass="about-us-image" src="" alt="">
    </section>
</main>