.header {
    padding-top: 6em;
}

.select-age {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    gap: 0.5rem;
    max-width: 60em;
    margin-top: 1em;
}

.label-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-radius: var(--border-radius-medium);
    background-color: var(--color-light-text);
    transition: 0.3s;
}

.label-checkbox p {
    font-weight: 600;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.label-checkbox:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.label-checkbox:active {
    cursor: pointer;
    transition: 0.15s;
    transform: scale(1);
}


.checkbox {
    width: 1em;
    height: 1em;
    background: var(--color-light-text);
    border-radius: var(--border-radius-small);
    padding: 0rem;
    border: solid var(--color-dark) 0.15rem;
    display: flex;
    transition: 0.3s, padding 0s, border 0s;
}

.checkbox-icon {
    width: 100%;
    scale: 0;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: 0.3s;
}

.label-checkbox-checked {
    background-color: #2E78BD;
    color: var(--color-light-text);

    .checkbox {
        padding: 0.1rem;
        border: none;
    }

    .checkbox>.checkbox-icon {
        scale: 1;
    }
}


.courses-container {
    min-height: 25rem;
}

.custom-header {
    margin-top: 0.5em;
}

.courses-section {
    margin-top: 4em;
    margin-bottom: 5em;
}

/* .courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1em;
}
 */
.courses-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(18rem, 1fr));
    gap: 1em;
}

.margin-bottom {
    margin-bottom: 10rem;
}

@media (max-width: 784px) {
    .header {
        padding-top: 1rem
    }
}


@media (max-width: 1088px) {
    .courses-grid {
        grid-template-columns: repeat(2, minmax(18rem, 1fr));
    }
}

@media (max-width: 656px) {
    .courses-grid {
        grid-template-columns: repeat(1, minmax(18rem, 1fr));
    }
}