<header ngClass="header inner-container text-container">
    <h1>Snabbkurser</h1>
    <h3 ngClass="custom-header">Lär dig om hur du kan göra internet tryggare för ditt barn</h3>
    <p>Genom våra snabbkurser, skräddarsydda för just ditt barn och baserade på tusentals noggrant utvalda källor, kan
        du enkelt hålla dig uppdaterad om vanliga internetrisker och hur du effektivt kan hantera dem.</p>
</header>

<section ngClass="courses inner-container margin-bottom">
    <div ngClass="courses-header text-container">
        <h3>
            Välj ditt barns ålder för att se relevanta kurser
        </h3>
    </div>

    <section ngClass="select-age">
        <button (click)="selectAgeInput('threeToSix')"
            [ngClass]="{'label-checkbox': true, 'label-checkbox-checked': threeToSix}">
            <p draggable="false">3-6 år</p>
            <div ngClass="checkbox">
                <img draggable="false" ngClass="checkbox-icon" src="../../../assets/icons/check-blue.svg" alt="">
            </div>
        </button>

        <button (click)="selectAgeInput('sevenToTen')"
            [ngClass]="{'label-checkbox': true, 'label-checkbox-checked': sevenToTen}">
            <p draggable="false">7-10 år</p>
            <div ngClass="checkbox">
                <img draggable="false" ngClass="checkbox-icon" src="../../../assets/icons/check-blue.svg" alt="">
            </div>
        </button>

        <button (click)="selectAgeInput('elevenToFourteen')"
            [ngClass]="{'label-checkbox': true, 'label-checkbox-checked': elevenToFourteen}">
            <p draggable="false">11-14 år</p>
            <div ngClass="checkbox">
                <img draggable="false" ngClass="checkbox-icon" src="../../../assets/icons/check-blue.svg" alt="">
            </div>
        </button>

        <button (click)="selectAgeInput('fifteenToSeventeen')"
            [ngClass]="{'label-checkbox': true, 'label-checkbox-checked': fifteenToSeventeen}">
            <p draggable="false">15-17 år</p>
            <div ngClass="checkbox">
                <img draggable="false" ngClass="checkbox-icon" src="../../../assets/icons/check-blue.svg" alt="">
            </div>
        </button>
    </section>


    <div ngClass="courses-container">
        <div ngClass="courses-section" *ngIf="!threeToSix && !sevenToTen && !elevenToFourteen && !fifteenToSeventeen">
            <h3>Alla snabbkurser</h3>
            <div ngClass="courses-grid">
                <ng-container *ngFor="let course of coursesData">
                    <app-course-card [courseId]="course.id"></app-course-card>
                </ng-container>
            </div>
        </div>

        <div ngClass="courses-section" *ngIf="threeToSix">
            <h3>Kurser för dig som har barn mellan 3-6 år</h3>
            <div ngClass="courses-grid">
                <ng-container *ngFor="let course of coursesData">
                    <div *ngIf="coursesData[course.id].ageGroup.threeToSix == true">
                        <app-course-card [courseId]="course.id"></app-course-card>
                    </div>
                </ng-container>
            </div>
        </div>

        <div ngClass="courses-section" *ngIf="sevenToTen">
            <h3>Kurser för dig som har barn mellan 7-10 år</h3>
            <div ngClass="courses-grid">
                <ng-container *ngFor="let course of coursesData">
                    <div *ngIf="coursesData[course.id].ageGroup.sevenToTen == true">
                        <app-course-card [courseId]="course.id"></app-course-card>
                    </div>
                </ng-container>
            </div>
        </div>

        <div ngClass="courses-section" *ngIf="elevenToFourteen">
            <h3>Kurser för dig som har barn mellan 11-14 år</h3>
            <div ngClass="courses-grid">
                <ng-container *ngFor="let course of coursesData">
                    <div *ngIf="coursesData[course.id].ageGroup.elevenToFourteen == true">
                        <app-course-card [courseId]="course.id"></app-course-card>
                    </div>
                </ng-container>
            </div>
        </div>

        <div ngClass="courses-section" *ngIf="fifteenToSeventeen">
            <h3>Kurser för dig som har barn mellan 15-17 år</h3>
            <div ngClass="courses-grid">
                <ng-container *ngFor="let course of coursesData">
                    <div *ngIf="coursesData[course.id].ageGroup.fifteenToSeventeen== true">
                        <app-course-card [courseId]="course.id"></app-course-card>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>