<app-nav></app-nav>

<header ngClass="header inner-container">
    <h1>Snabbkurser</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
        Pellentesque
        sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.</p>
</header>

<section ngClass="courses inner-container">
    <div ngClass="courses-header">
        <h2>
            Välj ditt barns ålder för att se relevanta kurser
        </h2>
    </div>

    <form ngClass="select-age" #gfgform="ngForm">
        <input ngClass="dp-none" type="checkbox" id="threeToSix" name="threeToSix" ngModel>
        <label for="threeToSix" ngClass="label-checkbox">
            <p draggable="false">3-6 år</p>
            <div ngClass="checkbox">
                <img draggable="false" ngClass="checkbox-icon" src="../../../assets/icons/check-blue.svg" alt="">
            </div>
        </label>

        <input ngClass="dp-none" type="checkbox" id="sevenToTen" name="sevenToTen" ngModel>
        <label for="sevenToTen" ngClass="label-checkbox">
            <p draggable="false">7-10 år</p>
            <div ngClass="checkbox">
                <img draggable="false" ngClass="checkbox-icon" src="../../../assets/icons/check-blue.svg" alt="">
            </div>
        </label>

        <input ngClass="dp-none" type="checkbox" id="elevenToFourteen" name="elevenToFourteen" ngModel>
        <label for="elevenToFourteen" ngClass="label-checkbox">
            <p draggable="false">11-14 år</p>
            <div ngClass="checkbox">
                <img draggable="false" ngClass="checkbox-icon" src="../../../assets/icons/check-blue.svg" alt="">
            </div>
        </label>


        <input ngClass="dp-none" type="checkbox" id="fifteenToSeventeen" name="fifteenToSeventeen" ngModel>
        <label for="fifteenToSeventeen" ngClass="label-checkbox">
            <p draggable="false">15-17 år</p>
            <div ngClass="checkbox">
                <img draggable="false" ngClass="checkbox-icon" src="../../../assets/icons/check-blue.svg" alt="">
            </div>
        </label>
    </form>

    <div *ngIf="gfgform.value.threeToSix == true || gfgform.value.threeToSix == false && gfgform.value.sevenToTen == false && gfgform.value.elevenToFourteen == false && gfgform.value.fifteenToSeventeen == false">
        <h3>3-6</h3>
        <div ngClass="courses-grid">
            <ng-container *ngFor="let course of coursesData">
                <div *ngIf="coursesData[course.id].age == '3-6'">
                    <app-course-card [courseId]="course.id"></app-course-card>
                </div>
            </ng-container>
        </div>
    </div>


    <div *ngIf="gfgform.value.sevenToTen == true || gfgform.value.threeToSix == false && gfgform.value.sevenToTen == false && gfgform.value.elevenToFourteen == false && gfgform.value.fifteenToSeventeen == false">
        <h3>7-10</h3>
        <div ngClass="courses-grid">
            <ng-container *ngFor="let course of coursesData">
                <div *ngIf="coursesData[course.id].age == '7-10'">
                    <app-course-card [courseId]="course.id"></app-course-card>
                </div>
            </ng-container>
        </div>
    </div>

    <div *ngIf="gfgform.value.elevenToFourteen == true || gfgform.value.threeToSix == false && gfgform.value.sevenToTen == false && gfgform.value.elevenToFourteen == false && gfgform.value.fifteenToSeventeen == false">
        <h3>11-14</h3>
        <div ngClass="courses-grid">
            <ng-container *ngFor="let course of coursesData">
                <div *ngIf="coursesData[course.id].age == '11-14'">
                    <app-course-card [courseId]="course.id"></app-course-card>
                </div>
            </ng-container>
        </div>
    </div>

    <div *ngIf="gfgform.value.fifteenToSeventeen == true || gfgform.value.threeToSix == false && gfgform.value.sevenToTen == false && gfgform.value.elevenToFourteen == false && gfgform.value.fifteenToSeventeen == false">
        <h3>15-17</h3>
        <div ngClass="courses-grid">
            <ng-container *ngFor="let course of coursesData">
                <div *ngIf="coursesData[course.id].age == '15-17'">
                    <app-course-card [courseId]="course.id"></app-course-card>
                </div>
            </ng-container>
        </div>
    </div>
</section>