:root {
    --color-dark: #171426;
    --color-light: #CADAF2;
    --color-light-text: #FAFAFA;
}

html {
    font-size: 16px;
}

main,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: var(--color-light);
    color: var(--color-dark);
}

h1,h2,h3,h4,h5,h6,a,p {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
}

a, p {
    text-decoration: none;
    font-weight: 500;
    color: inherit;
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}


.inner-container {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 5rem;
}

.dp-none {
    display: none;
}

@media (max-width: 784px) {
    .inner-container {
        padding: 0 2rem;
    }
}